* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box {
  width: 90%;
  max-width: 450px;
  text-align: center;
  background-color: #fff;
  padding: 50px 60px 70px;
}

.form-box h1{
  font-size: 300x;
  margin-bottom: 60px;
  color: #096f0b;
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
}