* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  /*background-image: linear-gradient(rgba(9, 111, 11, 0.8), rgba(9, 111, 11, 0.8)) url(Pictures/bacground.jpg);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .heading{
  text-align: center;
}

.form-box {
  width: 90%;
  max-width: 450px;
  text-align: center;
  background-color: #fff;
  padding: 50px 60px 70px;
}

.form-box h1{
  font-size: 300x;
  margin-bottom: 30px;
  color: #096f0b;
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}
